.DS_Store
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-ffd181617cf7220fe342.json
build/.cmake/api/v1/reply/codemodel-v2-ebfa09778f1a27db32bd.json
build/.cmake/api/v1/reply/index-2021-08-14T00-11-23-0242.json
build/.cmake/api/v1/reply/target-MandelbrotFractal-Debug-274c02c21c758ac28416.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.19.4/CMakeCCompiler.cmake
build/CMakeFiles/3.19.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.19.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.19.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.19.4/CMakeSystem.cmake
build/CMakeFiles/3.19.4/CompilerIdC/a.out
build/CMakeFiles/3.19.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.19.4/CompilerIdCXX/a.out
build/CMakeFiles/3.19.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/MandelbrotFractal.dir/build.make
build/CMakeFiles/MandelbrotFractal.dir/cmake_clean.cmake
build/CMakeFiles/MandelbrotFractal.dir/CXX.includecache
build/CMakeFiles/MandelbrotFractal.dir/depend.internal
build/CMakeFiles/MandelbrotFractal.dir/depend.make
build/CMakeFiles/MandelbrotFractal.dir/DependInfo.cmake
build/CMakeFiles/MandelbrotFractal.dir/flags.make
build/CMakeFiles/MandelbrotFractal.dir/link.txt
build/CMakeFiles/MandelbrotFractal.dir/main.cpp.o
build/CMakeFiles/MandelbrotFractal.dir/newVulkanApp.cpp.o
build/CMakeFiles/MandelbrotFractal.dir/progress.make
build/CMakeFiles/MandelbrotFractal.dir/vulkanDevice.cpp.o
build/CMakeFiles/MandelbrotFractal.dir/vulkanModel.cpp.o
build/CMakeFiles/MandelbrotFractal.dir/vulkanPipeline.cpp.o
build/CMakeFiles/MandelbrotFractal.dir/vulkanSwapChain.cpp.o
build/CMakeFiles/MandelbrotFractal.dir/vulkanWindow.cpp.o
build/MandelbrotFractal.app/Contents/Info.plist
build/MandelbrotFractal.app/Contents/MacOS/MandelbrotFractal
.vscode/settings.json
